#contact-info {
	.contact-text {
		text-align: center;
	}
}

#contact-form {
	background-color: $color10;
	.contact-attension {
		margin-left: 64px;
		@include lg {
			margin-left: 0;
		}
		&__text {
			padding-bottom: 16px;
			text-indent: -2em;
			padding-left: 2em;
			svg {
				margin-right: 16px;
			}
		}
	}
	// CF7スタイリング
	.form-area {
		padding-top: 40px;
		.form-item {
			margin-bottom: 40px;
			@include flex();
			@include lg {
				flex-direction: column;
			}
			@include sm {
				margin-bottom: 24px;
			}
			&:last-child {
				margin-bottom: 0;
			}
			input[type="tel"],
			input[type="email"],
			input[type="text"] {
				height: 46px;
			}
			&__name {
				@extend %shuei-24-b-black;
				@include flex($align: center);
				margin-right: 40px;
				@include lg {
					margin-bottom: 16px;
				}
				@include sm {
					margin-right: 0;
				}
				.required {
					color: $color11;
					font-size: 1.8rem;
					letter-spacing: 0.1em;
					line-height: 1.6em;
					margin-left: 16px;
				}
			}
			&__input,
			&__textarea {
				margin-left: auto;
				max-width: 613px;
				width: 100%;
				@include lg {
					max-width: 100%;
					margin-left: 0;
				}
				input.wpcf7-text {
					background-color: $color1;
					width: 100%;
					@extend %shuei-24-b-black;
				}
				textarea {
					width: 100%;
					background-color: $color1;
					@extend %shuei-24-b-black;
				}
			}
			&__check {
				margin-left: auto;
				max-width: 613px;
				width: 100%;
				margin-top: -16px;
				@include lg {
					margin-left: 0;
					max-width: 100%;
				}
				.wpcf7-form-control.wpcf7-checkbox {
					display: flex;
					flex-wrap: wrap;
				}
				span.wpcf7-list-item {
					position: relative;
					margin: 16px 8px 0 0 !important;
					/*項目ごとの余白を調整*/
					max-width: 155px;
					width: 100%;
				}
				.wpcf7-list-item-label {
					@extend %shuei-16-b-orange;
					cursor: pointer;
				}
				input[type="checkbox"] {
					position: absolute;
					opacity: 0;
					/*既存のチェックボックスを非表示に*/
				}
				.wpcf7-list-item-label:before {
					/*チェックボックスの枠*/
					content: "";
					background-color: $color1;
					display: inline-block;
					width: 20px;
					height: 20px;
					position: relative;
					top: -3px;
					margin-right: 8px;
					vertical-align: middle;
					cursor: pointer;
					text-align: center;
				}
				input[type="checkbox"]:checked + .wpcf7-list-item-label:after {
					/*チェックアイコン*/
					content: "";
					display: block;
					position: absolute;
					top: 4px;
					left: 3px;
					width: 15px;
					height: 10px;
					transform: rotate(-45deg);
					border-bottom: 3px solid;
					border-left: 3px solid;
					border-color: $color11;
					@include sm {
						top: 6px;
						width: 14px;
						height: 8px;
						left: 1px;
					}
				}
			}
		}
		.start {
			align-items: flex-start;
		}
		.privacy-policy {
			margin-top: 56px;
			padding: 16px 0 16px 16px;
			background-color: $color1;
			&__area {
				height: 264px;
				overflow-y: scroll;
				margin-right: 16px;
				&::-webkit-scrollbar {
					width: 8px;
					height: 100px;
					padding-right: 16px;
				}
				&::-webkit-scrollbar-thumb {
					background: $color9;
					border-radius: 5px;
				}
				&--text {
					margin-bottom: 16px;
				}
				&--title {
					color: $color11;
					font-weight: 600;
				}
			}
		}
		//同意するボタンのスタイル↓↓↓↓↓↓↓↓↓↓
		.agree-button {
			text-align: center;
			padding: 16px 0 48px 0;
			label {
				color: $color11;
				font-weight: 600;
			}
			//チェックボックスのスタイル↓↓↓↓↓↓↓↓↓↓
			input[type="checkbox"] {
				position: absolute;
				opacity: 0;
				/*既存のチェックボックスを見えなくする*/
			}
			.wpcf7-list-item-label:before {
				/*チェックボックスの枠*/
				content: "";
				display: inline-block;
				width: 24px;
				height: 24px;
				position: relative;
				top: -2px;
				margin-right: 24px;
				vertical-align: middle;
				// cursor: pointer;
				text-align: center;
				background-color: $color1;
				@include sm {
					width: 12px;
					height: 12px;
					margin-right: 16px;
				}
			}
			input[type="checkbox"]:checked ~ .wpcf7-list-item-label:after {
				// チェックボックスクリック
				content: "";
				position: absolute;
				display: block;
				box-sizing: border-box;
				width: 18px;
				height: 9px;
				margin-top: -8px;
				top: 50%;
				left: 24px;
				transform: rotate(-45deg);
				border-bottom: 3px solid;
				border-left: 3px solid;
				border-color: $color11;
				@include sm {
					left: 13px;
					width: 14px;
				}
			}
		}
		.submit-button {
			margin: 0 auto;
			input[type="submit"] {
				width: 100%;
				text-align: center;
			}
			.wpcf7-spinner {
				display: none;
			}
		}
		.ajax-loader {
			display: none;
		}
	}
}
